extends layout

block content
    h1= title
    p Welcome to #{title}

    p
        span(style='padding-right:5px') API Documentation in here:
        a(href='https://boardgamegeek.com/wiki/page/BGG_XML_API2' target="_blank") BGG_XML_API2

    div(style='margin-top:50px')
        p
            span(style='padding-right:5px') Example GET Request:
            a(href='http://bggapi.capi2.com.ar/user?name=yunow' target="_blank") http://bggapi.capi2.com.ar/user?name=yunow
